{{ define "content" }}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My Site</h1>
        <p class="lead">This is the home page of our site built with Go templating and Bootstrap.</p>
    </div>
{{ end }}
